/* 
color pallettes

#ED1c24 RED
#8fd129 GREEN
#000000 BLACK
#3d9eff BLUE
#f2c868 YELLOW BROWN
#017a5a DARK GREEN-BLUE
#ff9c07 ORG/YELLOW
#b899c6 PURPLE

   */

html{

  font-size:100%;

 
}


body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; 
  border: 3px solid #017a5a;
 background: #fffc00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }

.wrapperMain{

background-color: #f2c868;

}
.wrapperFoot{

color: #8fd129;
margin-top: 4rem;

}
.btn-red {
  background-color: #ED1c24; /*RED */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.btn-blue {
  background-color: #3d9eff; /* BLUE */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.btn-purple {
  background-color: #b899c6; /* Purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.btn-orn {
  background-color: #ff9c07; /* ORN */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}


.navbar  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#8fd129;

  
}

 .navbar li {
  float: left;
   border: solid black 1px;
}

 li a {
  display: block;
  color: #000000 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
 li a:hover {
  background-color: #f2c868;
}

#raphael{
  color:#ED1c24 ;
}
#donatello{
  color:#b899c6 ;
}

#leonardo{
  color: #3d9eff ;
}
#michelangelo{
  color: #ff9c07 ;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0  4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 550px;

}


#jumbo {
  background-image:url("https://images.pexels.com/photos/218983/pexels-photo-218983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
 );

  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#jumbotext {
   text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.box{
  border: solid black 1px;
}

.pizza{
  color: #ED1c24;
  text-align: center;
}